@page
@model PagesMovie.Pages.Players.ShuffleModel
@{
    ViewData["Title"] = "Shuffle";
}

<h1>Shuffle</h1>

<p>
    <a asp-page="Shuffle">חלק שוב</a>
</p>

@if (Model.numOfActive == 15)
{
    for (int i = 0; i < 5; i++)
    {
        <tr>
            <td>
                @Model.Group1[i]
            </td>
        </tr>
    }
    <br />
    @for (int i = 0; i < 5; i++)
    {
        <tr>
            <td>
                @Model.Group2[i]
            </td>
        </tr>

    }
    <br />
    @for (int i = 0; i < 5; i++)
    {
        <tr>
            <td>
                @Model.Group3[i]
            </td>
        </tr>

    }
}
else {
    <tr>
        <td>
            @Model.errorMassage
        </td>
    </tr>
}